/*  ----------------------------------------------------------------------------
    Fonts
----------------------------------------------------------------------------- */
@font-face {
    font-family: 'FrutigerLTPro-Light';
    src: url('../fonts/2E1A6A_0_0.woff2') format('woff2');
}

@font-face {
    font-family: 'FrutigerLTPro-Bold';
    src: url('../fonts/frutiger-bold-webfont') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body,
html[lang="ja"] body, html[lang="ja"] button, html[lang="ja"] input, html[lang="ja"] select, html[lang="ja"] textarea {
    font-family: 'FrutigerLTPro-Light';
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #32373e;
}
